@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

/* 본문 */
.classon_main {
  font-family: 'NanumBarunGothic', sans-serif;
}

/* 로고 글씨체 */
.classon_logo {
  font-family: 'NexonMaplestory', sans-serif;
}

:root {
    --color-bg: #FFFDF9;

    --color-orange: #F97316;
    --color-orange-light: #FFEDD5;

    --color-text: #1F2937;
    --color-text-sub: #6B7280;

    --color-white: #FFFFFF;
    --color-border: #E5E7EB;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);

    font-family:
        Arial,
        "Noto Sans KR",
        sans-serif;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

@import "tailwindcss";