@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NexonMaplestory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

/* 본문 */
.classon_main {
  font-family: 'NanumBarunGothic', sans-serif;
}

/* 로고 글씨체 */
.classon_logo {
  font-family: 'NexonMaplestory', sans-serif;
}